
.contentCentr {
    margin-top: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.banner {
margin-right: 10px;
   align-self: flex-start;
   display: flex;
   justify-content: flex-start;
}
.banner img {
    
}
.cards{
    flex-basis: 67%;
    flex-shrink: 1;
    align-self: stretch;
}

