
.contentCentr {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
   
}

.banner {
    margin-right: 10px;  
}
/* .banner img {
    
}
.cards{
    
   
}
 */
