.textListCont{
     font-family: 'Roboto', sans-serif;
     font-size: x-large;
     width: 60vw;
}
.textListCont p {
     font-stretch: ultra-expanded;   
     border-radius: 20px;
     padding-left: 10px;
}

